*{
    margin: 0;
    padding: 0;
}
.head{
     overflow: hidden;
    background-color: black;
    height: 144px;
    width: 100%;
}
.head h1{
    font-size: 26px;
    font-family: sans-serif;
    color: greenyellow;
    padding-top: 10px;
    padding-left: 41px;

}
.head h5{
    font-size: 13px;
    color: rgb(169, 203, 117);
    padding-top: 2px;
    padding-left: 46px;

}

.top-nav {
   
    padding-right: 154px;
    padding-top: 55px;
    /* padding-bottom: 0; */
    background-color: black;
    float: right;

}
.top-nav a{
    /* height: 100px;
    width: 200px; */
  
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(68, 72, 72);
    padding: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.top-nav a:hover{
    background-color: greenyellow;
}
.content{
    height: 250px;
    margin-top: 30px;
    width: 79%;
    margin-left: 209px;
}
.left-col{
    width: 70%;
    float: left;
}
.sec-cont{
    background-color: grey;
    
    
}
.image1 img{
    width: 99%;
    height: 232px;
    padding-top: 10px;
    padding-left: 6px;
}

.para h1{
    font-size: 28px;
    margin-top: 21px;
    font-weight: 100;

}
.para p{
   font-size: 19px;
    padding-top: 23px;
}
.list{
    margin-top: 33px;
}
.list h3{
    font-size: 22px;
    color: #28a8a8;
}
.list h6{
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 16px;
}
.right-col{
    float: left;
    width: 24%;
    margin-bottom: 23px;
}
.right-box{
    height: 207px;
    border: 2px solid rgb(53, 52, 52);
    border-radius: 15px;
    margin-left: 72px;
    margin-top: 24px;
}
.right-box h2,h4,p,ul{
    padding: 5px;
}
.right-box h4{
    color: #28a8a8;
}
.list2 ul{
   list-style-position: inside;
    padding-left: 74px;
    padding-top: 20px;
}
.right-box h2{
    padding-left: 55px;
    padding-top: 10px;
}
.frm{
    padding-left: 10px;
}

.frm input[type=text]{
    text-align: center;
    height: 20px;
    width: 223px;
}
.footer{
    /* margin-bottom: 0;
    padding-bottom: 0; */
     
    float: left;
    width: 100%;
    height: 112px;
    background-color: black;
    
}
.footer ul{
    
    list-style-type: none;
    padding-left: 725px;
   
    padding-top: 36px;
   
}
.footer li a{
    display: block;
    float: left;
    text-decoration: none;
    padding-left: 10px;
    color: blanchedalmond;
    /* border-right: 2px solid rgb(238, 238, 238);
    height: 15px;
    padding-right: 5px; */
}
.lin {
    border-right: 2px solid rgb(79, 75, 75);
    height: 15px;
    padding-right: 5px;
    }